@use "sass:math";
//Percent
@function percent($px, $from) {
	$result: math.div($px, $from) * 100%;
	@return $result;
}
//REM
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
//EM
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	// outline: none;
}
a:focus,
a:active {
	// outline: none;
}
html,
body {
	height: 100%;
	min-width: rem(360);
}
body {
	color: #000;
	line-height: 1;
	font-family: sans-serif;
	font-size: 1rem;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font: inherit;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	display: inline-block;
	color: inherit;
}
a:link,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
}

svg {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

svg {
	transition: inherit;
}
svg * {
	transition: inherit;
}
span {
	display: inline-block;
}
//*  ==========================================================================================================================
.container {
	max-width: rem(1440);
	margin: 0 auto;
	padding: 0 10px;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	> footer {
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
.inputs {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
	width: 100%;
	input {
		width: 100%;
	}
}
.page-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}
.page-inner {
}

body {
	font-family: sans-serif;
	background: linear-gradient(135deg, #f3f4f6, #e0e7ff);
	line-height: 1.2;
}

h1 {
	color: #333;
	margin-bottom: 1em;
	font-size: 24px;
	font-weight: bold;
}
.click-info {
	margin-bottom: 0.625em;
}
.generator {
	background: white;
	padding: 30px 15px;
	border-radius: 12px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
	text-align: center;
	// width: 360px;
}

input {
	padding: 20px 10px;
	// margin: 5px;
	width: 80px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 20px;
	appearance: none;
	-webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
	margin-top: 30px;
	padding: 15px 30px;
	font-size: 20px;
	border: none;
	background-color: #6366f1;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover:not(:disabled) {
	background-color: #4f46e5;
}

button:disabled {
	background-color: #a5b4fc;
	cursor: not-allowed;
}
button.disabled {
	background-color: #a5b4fc !important;
	cursor: not-allowed !important;
	pointer-events: none !important;
}
.result {
	margin-top: 20px;
	font-size: 60px;
	font-weight: bold;
	color: #111827;
}

.error {
	color: red;
	margin-top: 10px;
}
